
.btn-5 {
  background-color: #79a1d4; /* ボタン背景色 */
  color: #fff; /* ボタン文字色 */
  box-shadow: 0 5px 0 0 #194174; /* ボタン陰色 */
  font-weight: bold;
  border-radius: 4px;
  max-width: 80%;
  margin: 2em auto 3em auto;
  padding: 0;
  text-align: center;
  line-height: 1.4;
  transition: all .2s ease;
}

.btn-5:hover {
  opacity: 0.8;
}

.btn-5 a {
  text-decoration: none !important;
  color: #fff !important;
  display: block;
  margin: 0;
  padding: 1em;
  position: relative;
  overflow: hidden;
}

.btn-5 a::before {
  display: block;
  position: absolute;
  z-index: 1;
  left: -100%;
  top: -50vh;
  content: '';
  width: 3rem;
  height: 100vh;
  transform: rotate(5deg);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
  animation: highLight 3s ease-in-out 0s infinite;
}

@keyframes highLight {
  from { left: -5%; }
  15%, 100% { left: 105%; }
}

.btn-5 > img { float: left; }
.btn-5::after{ content: ''; clear: left; }

strong{
  font-weight: bold;
  background: linear-gradient(transparent 60%, #ffcc99 50%);   
}

.content a{
  color: #0000ff;
}

.sns_parent {
    text-align: center;
  }
  
  .sns_section {
    display: inline-block;
    text-align: left;
  }
  .sns_button {
    float: left;
    box-shadow: inset 0 0 0 2px #42464c;
    border-radius: 100%;
    -moz-transition: all 280ms ease;
    -o-transition: all 280ms ease;
    -webkit-transition: all 280ms ease;
    transition: all 280ms ease;
  }
  .sns_button a {
    display: table-cell;
    width: 44px;
    height: 44px;
    color: #42464c;
    text-align: center;
    vertical-align: middle;
    -moz-transition: all 280ms ease;
    -o-transition: all 280ms ease;
    -webkit-transition: all 280ms ease;
    transition: all 280ms ease;
  }
  .sns_button i {
    font-size: 20px;
    vertical-align: middle;
  }
  .sns_button:hover {
    box-shadow: inset 0 0 0 22px #eaeaea;
  }
  
  .sns_button + .sns_button {
    margin: 0 0 0 12px;
  }
  
  .twitter:hover a {
    color: #1B95E0;
  }
  
  .facebook:hover a {
    color: #3B5999;
  }
  
  .google:hover a {
    color: #dd4b39;
  }
  
  .instagram:hover a {
    color: #2b5c84;
  }
  
  .pocket:hover a {
    color: #EE4056;
  }
  
  .hatena:hover a {
    color: #4BA3D9;
  }
  
  .fa-hatena:before {
      content: "B!";
      font-family: Verdana;
      font-weight: bold
  }

  .balloon5 {
    width: 100%;
    margin: 1.5em 0;
    overflow: hidden;
  }
  
  .balloon5 .faceicon {
    float: left;
    margin-right: -90px;
    width: 80px;
  }
  
  .balloon5 .faceicon img{
    width: 100%;
    height: auto;
    border: solid 3px #d7ebfe;
    border-radius: 50%;
  }
  
  .balloon5 .chatting {
    width: 100%;
  }
  
  .says {
    display: inline-block;
    position: relative; 
    margin: 5px 0 0 105px;
    padding: 17px 13px;
    border-radius: 12px;
    background: #d7ebfe;
  }
  
  .says:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 18px; 
    left: -24px;
    border: 12px solid transparent;
    border-right: 12px solid #d7ebfe;
  }
  
  .says p {
    margin: 0;
    padding: 0;
  }
  

ul.links {
    background-color: #fff;
    border: 1px solid #111;
    list-style: none;
    position: relative;
    margin: 0.5em 0;
    padding: 1.5em 1em;
}
.links:before {
    content: "おススメの記事";
    color: #ff4f02;
    background-color: #fff;
    font-size: 1.2em;
    position: absolute;
    top: -1.2em;
    left: 1em;
    padding: 0 .5em;
}
.links:after {
    content: "楽しい暗号資産";
    color: #111;
    background-color: #fff;
    font-size: 0.8em;
    position: absolute;
    bottom: -0.8em;
    right: 1em;
    padding: 0 .5em;
}

ul.links2 {
  background-color: #fff;
  border: 1px solid #111;
  list-style: none;
  position: relative;
  margin: 3em 0;
  padding: 1.5em 1em;
}
.links2:before {
  content: "おススメのサイト";
  color: #ff4f02;
  background-color: #fff;
  font-size: 1.2em;
  position: absolute;
  top: -1.2em;
  left: 1em;
  padding: 0 .5em;
}
.links2:after {
  content: "10万円で始める暗号資産";
  color: #111;
  background-color: #fff;
  font-size: 0.8em;
  position: absolute;
  bottom: -0.8em;
  right: 1em;
  padding: 0 .5em;
}

body {
  font-family: 'ヒラギノ角ゴ ProN W3',Hiragino Sans,'ヒラギノ角ゴ ProN W3',Hiragino Kaku Gothic ProN,"メイリオ",Meiryo,sans-serif;
  font-size: 16.8px;
}

.kaerebalink-box {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 1px 1px 3px 1px #ddd;
  padding: 15px;
  overflow: hidden; /* float解除用 */
  margin-bottom: 20px;
}
.kaerebalink-image {
  margin-right: 18px;
  float:left;
}
.kaerebalink-image img {
  box-shadow: 0 0 1px 1px #ccc;
}
.kaerebalink-info {
  font-size: 14px;
  margin: 0;
  overflow: hidden; /* float解除用 */
}
.kaerebalink-name {
  font-size: 18px;
  margin-top: 2px;
}
.kaerebalink-detail {
  margin-top: 5px;
}
.kaerebalink-powered-date {
  font-size: 12px;
  margin-top: 5px;
}
.kaerebalink-link1 {
  font-size: 16px;
}
.shoplinkamazon, .shoplinkrakuten {
  float: left;
  width: 40%;
  text-align: center;
  margin: 17px 10px 0;
  padding: 5px 0;
  border: 1px solid #ccc;
  border-radius: 8px;
  text-shadow:1px 1px 1px rgba(0,0,0,0.3);
  background: -moz-linear-gradient(top,#FFF 0%,#EEE);
  background: -webkit-gradient(linear, left top, left bottom, from(#FFF), to(#EEE));
}
.shoplinkamazon a{
  color: #565656;
}
.shoplinkrakuten a{
  color: #FF0040;
}
.shoplinkamazon a, .shoplinkrakuten a {
  text-decoration: none;
  display: block;
}
.shoplinkamazon a:hover, .shoplinkrakuten a:hover {
  opacity: 0.7;
  background: -moz-linear-gradient(top,#FFF 80%,#EEE);
}
@media only screen and (max-width: 580px) {
  .kaerebalink-box {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 1px 1px 3px 1px #ddd;
  padding: 10px 15px;
}
.kaerebalink-image {
  margin: 0 0 10px 0;
  float: none;
}
.kaerebalink-image img {
  margin: 0 auto;
}
.kaerebalink-info {
  font-size: 12px;
  margin: 0;
}
.kaerebalink-name {
  font-size: 15px;
  margin-top: 2px;
}
.kaerebalink-detail {
  margin-top: 5px;
}
.kaerebalink-powered-date {
  font-size: 11px;
  margin-top: 5px;
}
.kaerebalink-link1 {
  font-size: 14px;
}
.shoplinkamazon, .shoplinkrakuten {
  float: none;
  width: 96%;
  margin: 10px 0;
  padding: 5px 0;
}
}

.btn-3 {
  background-color: #668ad8; /* ボタン背景色 */
  color: #fff; /* ボタン文字色 */
  box-shadow: 0 5px 0 0 #627295; /* ボタン陰色 */
  font-weight: bold;
  border-radius: 4px;
  max-width: 80%;
  margin: 0.5em auto;
  padding: 0;
  text-align: center;
  line-height: 1.4;
  transition: all .2s ease;
}

.btn-3:hover {
  box-shadow: none;
  transform: translateY(5px);
  opacity: 0.8;
}

.btn-3 a {
  text-decoration: none !important;
  color: #fff !important;
  display: block;
  margin: 0;
  padding: 0.5em;
}

.btn-3 > img { float: left; }
.btn-3::after{ content: ''; clear: left; }

.appreach {
  text-align: left;
  padding: 10px;
  border: 1px solid #7C7C7C;
  overflow: hidden;
}
.appreach:after {
  content: "";
  display: block;
  clear: both;
}
.appreach p {
  margin: 0;
}
.appreach a:after {
  display: none;
}
.appreach__icon {
  float: left;
  border-radius: 10%;
  overflow: hidden;
  margin: 0 3% 0 0 !important;
  width: 25% !important;
  height: auto !important;
  max-width: 120px !important;
}
.appreach__detail {
  display: inline-block;
  font-size: 20px;
  line-height: 1.5;
  width: 72%;
  max-width: 72%;
}
.appreach__detail:after {
  content: "";
  display: block;
  clear: both;
}
.appreach__name {
  font-size: 16px;
  line-height: 1.5em !important;
  max-height: 3em;
  overflow: hidden;
}
.appreach__info {
  font-size: 12px !important;
}
.appreach__developper, .appreach__price {
  margin-right: 0.5em;
}
.appreach__posted a {
  margin-left: 0.5em;
}
.appreach__links {
  float: left;
  height: 40px;
  margin-top: 8px;
  white-space: nowrap;
}
.appreach__aslink img {
  margin-right: 10px;
  height: 40px;
  width: 135px;
}
.appreach__gplink img {
  height: 40px;
  width: 134.5px;
}
.appreach__star {
  position: relative;
  font-size: 14px !important;
  height: 1.5em;
  width: 5em;
}
.appreach__star__base {
  position: absolute;
  color: #737373;
}
.appreach__star__evaluate {
  position: absolute;
  color: #ffc107;
  overflow: hidden;
  white-space: nowrap;
}


.post__thumbnail__custom img {
  display: block; 
  margin: auto;
}

.ocbutton{
  display: none;
  cursor: pointer;
}
.ocbutton + label{
  cursor: pointer;
}
.ocbutton + label:hover{ /* マウスがボタンの上にある時 */
  border-bottom:1px dotted #888 ;
}
.ocbutton + label:before{ /* 非表示時の文字 ※３*/
  content:"[開く]";
  color:red;
}
.ocbutton:checked + label:before{  /* 表示時の文字 ※３ */
  content:"[閉じる]"
}
.oc_content{
  display: none;
}
#b0:checked ~ #b0_content,
#b1:checked ~ #b1_content,
#b2:checked ~ #b2_content,
#b3:checked ~ #b3_content,
#b4:checked ~ #b4_content,
#b5:checked ~ #b5_content,
#b6:checked ~ #b6_content,
#b7:checked ~ #b7_content,
#b8:checked ~ #b8_content,
#b9:checked ~ #b9_content,
#b10:checked ~ #b10_content,
#b11:checked ~ #b11_content,
#b12:checked ~ #b12_content,
#b13:checked ~ #b13_content,
#b14:checked ~ #b14_content,
#b15:checked ~ #b15_content,
#b16:checked ~ #b16_content,
#b17:checked ~ #b17_content,
#b18:checked ~ #b18_content,
#b19:checked ~ #b19_content,
#b20:checked ~ #b20_content{
  display:block;
}
.oc_content{ /* 表示非表示されるボックスの外観 ※２*/
  border:1px solid #000;margin:1em;padding:1em;
}
.ocbutton ~ p:first-of-type{ /* WordPressのみ（自動で付加されるPを非表示）※１ */
display: none;
}

.image_head{
  margin-left: 30px;
}

ul.list3{
  border: solid 2px #e22d30;
  padding: 0.5em 0.5em 0.5em 2.3em;
  position: relative;
  /* margin-top: 3em; */
}
ul.list3 li {
  line-height: 1.5;
  padding: 0.2em 0;
  list-style-type: none!important;
}
ul.list3 li:before {
  /*リストのアイコン*/
  font-family: "Font Awesome 5 Free";
  content: "\f35a";
  position: absolute;
  left : 1em; /*左端からのアイコンまでの距離*/
  /*color: #ffb03f; /*アイコン色*/
  color: #e22d30;
}

ul.list3.point li:after {
  /*タブ*/
  background: #e22d30;
  color: #fff;
  font-family: "Font Awesome 5 Free",'Avenir','Arial',sans-serif;
  position: absolute;
  left: -2px;
  bottom: 100%;
  padding: 1px 7px;
  content: '\f0a7  ポイント';/*アイコンコード＋文字*/
  letter-spacing: 0.05em;/*字間*/
}

ul.list3.intro li:after {
  /*タブ*/
  background: #e22d30;
  color: #fff;
  font-family: "Font Awesome 5 Free",'Avenir','Arial',sans-serif;
  position: absolute;
  left: -2px;
  bottom: 100%;
  padding: 1px 7px;
  content: '\f0a7  自己紹介';/*アイコンコード＋文字*/
  letter-spacing: 0.05em;/*字間*/
}

ol.flow {
  counter-reset:number; /*数字をリセット*/
  list-style-type: none!important; /*数字を一旦消す*/
  padding: 0.3em 0.8em;
  margin: 0 2em 1em 1em;
  border: solid 2px #e22d30;
}
ol.flow li {
  /* border-bottom: dashed 1px orange; */
  position: relative;
  padding: 0.5em 0.5em 0.5em 30px;
  line-height: 1.5em;
}
ol.flow li:before{
  /* 以下数字をつける */
  position: absolute;
  counter-increment: number;
  content: counter(number);
  /*数字のデザイン変える*/
  display:inline-block;
  background: #e22d30;
  color: white;
  font-family: 'Avenir','Arial Black','Arial',sans-serif;
  font-weight:bold;
  font-size: 15px;
  border-radius: 50%;
  left: 0;
  width: 25px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  /*以下 上下中央寄せのため*/
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
ol.flow li:last-of-type {
  border-bottom: none; /*最後のliの線だけ消す*/
}

h2 {
  padding: 1rem 0.5rem;
  margin: 2rem 0;
  border-bottom: 3px solid #e22d30;
  background: #f4f4f4;
}

p {
  margin: 2rem 0 !important;
}

.design01 {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
 }
 .design01 th {
  padding: 10px;
  background: #e9faf9;
  border: solid 1px #778ca3;
 }
 .design01 td {
  padding: 10px;
  border: solid 1px #778ca3;
 }


.list7 {
  margin: 3em 0 1em 0;
}
.list7-title {
  display: inline-block;
  padding: 1px 10px 0 10px;
  background: #ee8992;
  color: #fff;
  letter-spacing: 0.1em;
  font-weight: bold;
}
.list7 ul,.list7 ol {
  margin: 0;
  padding: 5px;
  position: relative;
  border: solid 2px #ee8992;
}
.list7 ol {
  counter-reset: number;
}
.list7 ul li,.list7 ol li {
  color: #ee8992;
  line-height: 1.5;
  padding: 0.5em 0.5em 0.5em 1.8em;
  list-style-type: none;
  font-weight: bold;
}
.list7 ul li:before {
  font-family: FontAwesome;
  content: "\f14a";
  position: absolute;
  left : 0.5em;
  color: #ee8992;
}
.list7 ol li:before {
  display: inline-block;
  position: absolute;
  left: 0.5em;
  width: 22px;
  height: 22px;
  border-radius: 20%;
  background: #ee8992;
  color: white;
  font-family: "Quicksand", sans-serif;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  line-height: 22px;
  content: counter(number);
  counter-increment: number;
}